<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Error - R0bl0x10501050</title>
	<link rel="icon" href="/Images/cancel.png" />
	<link href="/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<script src="/script.js">
	
	</script>
	
	<% if (name !== null) { %>
		<h1>Hey, <%= name %>.</h1>
		<h2><%= msg %></h2>
		<h4>Error Code: <%= code %></h4>
	<% } else { %>
		<h1><%= msg %></h1>
		<h4>Error Code: <%= code %></h4>
	<% } %>

</body>

</html>