<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Shop - R0bl0x10501050</title>
	<link rel="icon" href="/Images/PFP_4K.png" />
	<link href="/index.css" rel="stylesheet" type="text/css" />
	<link href="/shop.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<script src="/script.js">

	</script>

	<div class="sticky">
		<div class="header">
			<img src='./Images/PFP_4K.jpg' id="pfp" height="75%">
			<div id="title">
				R0bl0x10501050
			</div>
			<div id="desc">
				Game Developer
			</div>
			<div id="greetertext">
				<% if (name !== null) { %>
					Hello, <%= name %>!
				<% } else { %>
					Hello, Robloxian!
				<% } %>
			</div>
			<div class="redir" id="redir_About">
				<% if (name !== null) { %>
					<u id="shop_logout">Log Out</u>
				<% } else { %>
					<u id="shop_signup">Sign Up</u>
				<% } %>
			</div>
			<div class="redir" id="redir_Home">
				<u>Home</u>
			</div>
		</div>
	</div>

	<div id="Web_1920__1">
		<div id="Component_1__1" class="Component_1___1">
			<div id="Group_13">
				<div id="Group_1">
					<div id="ID1__12">
						<span>1 / 12</span>
					</div>
					<svg class="Rectangle_10">
						<rect id="Rectangle_10" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
				<div id="Group_2">
					<div id="ID2__12">
						<span>2 / 12</span>
					</div>
					<svg class="Rectangle_11">
						<rect id="Rectangle_11" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
				<div id="Group_3">
					<div id="ID3__12">
						<span>3 / 12</span>
					</div>
					<svg class="Rectangle_12">
						<rect id="Rectangle_12" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
				<div id="Group_4">
					<div id="ID4__12">
						<span>4 / 12</span>
					</div>
					<svg class="Rectangle_13">
						<rect id="Rectangle_13" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
				<div id="Group_5">
					<div id="ID5__12">
						<span>5 / 12</span>
					</div>
					<svg class="Rectangle_14">
						<rect id="Rectangle_14" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
				<div id="Group_6">
					<div id="ID6__12">
						<span>6 / 12</span>
					</div>
					<svg class="Rectangle_15">
						<rect id="Rectangle_15" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
				<div id="Group_7">
					<div id="ID7__12">
						<span>7 / 12</span>
					</div>
					<svg class="Rectangle_16">
						<rect id="Rectangle_16" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
				<div id="Group_8">
					<div id="ID8__12">
						<span>8 / 12</span>
					</div>
					<svg class="Rectangle_17">
						<rect id="Rectangle_17" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
				<div id="Group_9">
					<div id="ID9__12">
						<span>9 / 12</span>
					</div>
					<svg class="Rectangle_18">
						<rect id="Rectangle_18" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
				<div id="Group_10">
					<div id="ID10__12">
						<span>10 / 12</span>
					</div>
					<svg class="Rectangle_19">
						<rect id="Rectangle_19" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
				<div id="Group_11">
					<div id="ID11__12">
						<span>11 / 12</span>
					</div>
					<svg class="Rectangle_20">
						<rect id="Rectangle_20" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
				<div id="Group_12">
					<div id="ID12__12">
						<span>12 / 12</span>
					</div>
					<svg class="Rectangle_21">
						<rect id="Rectangle_21" rx="0" ry="0" x="0" y="0" width="94" height="1076">
						</rect>
					</svg>
				</div>
			</div>
		</div>
		<svg class="Rectangle_6">
			<rect id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="489" height="291">
			</rect>
		</svg>
		<svg class="Rectangle_5">
			<rect id="Rectangle_5" rx="0" ry="0" x="0" y="0" width="489" height="291">
			</rect>
		</svg>
		<svg class="Rectangle_4">
			<rect id="Rectangle_4" rx="0" ry="0" x="0" y="0" width="489" height="291">
			</rect>
		</svg>
		<svg class="Rectangle_7">
			<rect id="Rectangle_7" rx="0" ry="0" x="0" y="0" width="489" height="291">
			</rect>
		</svg>
		<svg class="Rectangle_8">
			<rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="489" height="291">
			</rect>
		</svg>
		<svg class="Rectangle_9">
			<rect id="Rectangle_9" rx="0" ry="0" x="0" y="0" width="489" height="291">
			</rect>
		</svg>
		<div id="SHOP">
			<span>SHOP</span>
		</div>
		<div id="Toggle">
			<div id="METADATA">
				<span>{"config":{"DISPLAY_ELEMENTS":"Label"},"type":"Toggle","theme":"Base","nodeName":"Toggle","__plugin":"Mockup","__version":"1.4.7","__lastUpdate":"2021-01-13T04:35:04.341Z"}</span>
			</div>
			<svg class="Base">
				<rect id="Base" rx="16" ry="16" x="0" y="0" width="56" height="32">
				</rect>
			</svg>
			<svg class="Handle">
				<rect id="Handle" rx="12" ry="12" x="0" y="0" width="24" height="24">
				</rect>
			</svg>
			<div id="Label">
				<span>Free</span>
			</div>
		</div>
	</div>

	<!-- Easter Egg #1 -->

	<pre id='output' style="color:#fff;"></pre>

	<script type="text/javascript">
		var element = new Image
        var devtoolsOpen = false
        element.__defineGetter__("id", function() {
           devtoolsOpen = true
		   document.body.innerHTML = "No source for you! You found the easter egg #1. <p id='output'></p>"
        })
        setInterval(function() {
			output.innerHTML = ""
            devtoolsOpen = false
            console.log(element)
            document.getElementById('output').innerHTML +=(devtoolsOpen ? "dev tools is open\n" : "dev tools is closed\n")
        }, 1000)
	</script>

	<!------------------->

</body>

</html>